<div class="row">
    <div class="col-m4 mx-auto">
        <div class="card">
            <div class="card-header">
                Account Register
            </div>
            <div class="card-body">
                <form action="/user/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Name" value={{name}}>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="e-mail" value={{email}}>
                    </div>
                    <div class="form-group">
                        <input type="adress" class="form-control" name="adress" placeholder="Steet Adress" value={{adress}}>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Your Password" value={{password}}>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm your password" value={{confirm_password}}>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            sign up!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>